.front-card {
  position: relative;
  width: 450px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-image: url(./images/card_FI.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-number {
  padding-top: 4em;
  padding-left: 1.3em;
  padding-bottom: 0.8em;
  color: #fff;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 6px;
}
.card-info > .cardholder {
  padding-left: 20px;
  padding-right: 6em;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.47px;
}
.valid-thru, .valid-month,
.valid-year {
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.29px;
}
.valid-month{
  padding-left: 7em;
}
